#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "pocket-id"
name = "Pocket-ID"
description.en = "Easy-to-use OIDC provider that allows users to authenticate with their passkeys to your services"
description.fr = "Fournisseur OIDC simple qui permet aux utilisateurs de s'authentifier auprès de vos services à l'aide de leurs clés d'accès"

version = "2.2.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "BSD-2-Clause"
website = "https://pocket-id.org/"
demo = "https://demo.pocket-id.org/"
admindoc = "https://pocket-id.org/docs"
code = "https://github.com/pocket-id/pocket-id"

[integration]
yunohost = ">= 12.1.39"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    rename = "pocket-id"
    in_subdir = false
    extract = false
    amd64.url = "https://github.com/pocket-id/pocket-id/releases/download/v2.2.0/pocket-id-linux-amd64"
    amd64.sha256 = "b8df0a4d082a60b7f1ba8a87a9084de560df52d4b63ab0e0b5fe4fa7bf2c86be"
    arm64.url = "https://github.com/pocket-id/pocket-id/releases/download/v2.2.0/pocket-id-linux-arm64"
    arm64.sha256 = "00c51ae14a90f22b3d8669c956d174706dd6c992270d39899c8a10b2f6a8eab5"
    armhf.url = "https://github.com/pocket-id/pocket-id/releases/download/v2.2.0/pocket-id-linux-armv7"
    armhf.url = "b976478ce84776ce895f22a81c6a8fc875160cf8a76e9e953bae74a31e2c2181"

    autoupdate.strategy = "latest_github_release"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"
